:root {
  --background-color: #1e555c;
  --button-hover-color: Aquamarine;
}

* {
  margin: 0;
}

.App {
  text-align: center;
  background-color: var(--background-color);
  height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
}

.title {
  font-size: 55px;
  margin-bottom: 20px;
}

.option-container-group {
  display: flex;
  margin-bottom: 25px;
}

.option-container * {
  padding-right: 10px;
  padding-left: 10px;
  font-size: 30px;
}

.option-container-selector {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  border: 0;
  background-color: rgba(0, 0, 0, 0);
  color: white;
}

button:hover {
  color: var(--button-hover-color);
  cursor: pointer;
}

.option-container-title {
  font-size: 35px;
}

.session-container {
  border-radius: 50px;
  padding: 15px 50px;
  border: 7px solid rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
}

.session-container-title {
  font-size: 35px;
}

.session-container-value {
  font-size: 85px;
}

.session-control-row {
  display: flex;  
  margin-bottom: 20px;
}

.session-control-row * {
  padding: 0 5px;
  font-size: 25px;
}

.signature * {
  font-family: monospace;
  font-weight: lighter;
  text-shadow: rgba(0, 0, 0, 0.25) 0.5px 0.5px;
}

.signature-designed {
  margin-bottom: 5px;
  color: #a50d0d;
}

.signature-coded {
  color: #00264d;
}